[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
host_key_checking = False
retry_files_enabled = False

log_path = /home/aq/ansible-projects/git_practice/demo-project/logs/ansible.log

# ansible-playbook playbooks/site.yml | tee logs/site_run.log
# ansible-playbook playbooks/cleanup.yml | tee logs/cleanup_run.log
# id demoadmin
# cat /etc/motd
# tree --version